{% extends 'useradmin_base.html' %}
{% load static %}
{% block title %}{{user.username}}的空间--修改密码{% endblock %}
{% block useradmin_css %}
<link rel="stylesheet" href="{% static 'user_admin/css/useradmin_change_password.css' %}">
{% endblock %}

{% block info-main %}
<div class="change-pw-box">
    <div class="info-main-title">更改密码</div>
    <form method="post" class='change_pw_form'>
        {% csrf_token %}
        {{change_pw_form.as_p}}
        <p id="PW_ERROR_INFO" style="display:none">{{PW_ERROR_INFO}}</p>
        <!-- <input type="hidden" name="none" value="{{ request.META.HTTP_REFERER }}"> -->
        <input type="submit" value="更改" class="submit">
    </form>
</div>
<script type="text/javascript" src="{% static 'user_admin/javascript/change_password_jquery.js' %}"></script>
{% endblock info-main %}