{% extends 'base.html' %}
{% load static %}
{% block title %}{{ news.title }}{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'mysite/css/news-detail.css' %}">{% endblock %}
{% block content %}

<div class="newsdetail-box clearfix">
	<div class="newsdetail-news ">
    	<div class="newsdetail-content">
        	<div class="newsdetail-top">
            	<h2 class="newsdetail-title">{{ news.title }}</h2>
                <div class="newsdetail-attach">
                	<div class="newsdetail-from"><a href="{{ news.origin.url }}">{{ news.origin }}</a></div>
                    {% for news_tag in news.news_tag.all %} 
                    <div class="newsdetail-tag"><a href="{{ news_tag.get_tag_url }}">{{ news_tag }}</a></div>
                    {% endfor %}
                    <div class="newsdetail-time">{{ news.published_date|date:"n月j日 G:i" }}</div>
                    <div class="newsdetail-comment-top"><a href="#newsdetail-comment">评论({{news.news_comment_set.all.count}})</a></div>
                </div>
            </div>
            <div class="newsdetail-body">
            {{ news.content | safe }}
            </div>
        </div>
        <div class="newsdetail-comment" id="newsdetail-comment">
            <form method="post">
                {% for field in cf %}
                {% csrf_token %}
                <div>{{field}}</div>
                {% endfor %}
            
                <div class="log-submit">
                    <span class="comment_num">{{ news.news_comment_set.all.count }}条评论</span>
                    {% if session_username %}
                        <span class="username_form"><a href="{% url 'useradmin' %}">{{session_username}}</a></span>
                        <input type="submit" class="submit_btn" value="提交">
                    {% else %}
                        <span class="log_btn"><a href="{% url 'login' %}">登录</a></span>
                    {% endif %}
                </div>
            </form>
            <div class="comment-list">
            	{% for comment in news.news_comment_set.all %}
            	<div class="comment-box clearfix">
                	<a href="#" class="comment-img"><img src="{{comment.comment.get_img_url}}" alt=""></a>
					<div class="comment-detail">                
                        <div class="comment-name-time"><span class="username">{{ comment.comment }}</span><span class="time">{{ comment.comment_time|date:"n月j日 G:i" }}</span></div>
                        <div class="comment-word">{{ comment.comment_text }}</div>

                	</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="newsdetail-relative">
    	<div class="relative-news">相关新闻</div>
        <div class="relative-list">
            {% for news_tag in news_tag_list %}
        	<ul>
                {% for each_news in news_tag.news_set.all %}
                {% if each_news.pk != news.pk %}
            	<li><a href="{{each_news.get_news_url }}">{{ each_news.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
