.change-pw-box{ border: grey solid 1px;  width:450px; margin: 50px auto}
.info-main-title{ text-align: center; height:50px; line-height: 50px; font-size: 20px; border-bottom: grey solid 1px;}
.change_pw_form{}
form p { margin-top:10px; text-align: center}
form p label{ width:100px; height: 30px; display: inline-block ;
    vertical-align: top; line-height: 30px; text-align: right; font-size: 16px;}
form p input{ width:300px; height:30px; display: inline-block ;} 
.pw_yz{ color: red;}
.submit{ width: 100px; height: 30px; margin: 20px auto; display: block; border: 0px; cursor: pointer;
    font-size: 20px; letter-spacing: 5px; background-color: #1E8EE9; color:white}